{% extends "layout.html" %}

{% block content %}

<div class="Content-section">
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Select your action</legend>
        <div class="container ">
            <ul class="list-group">
                
                <li class="list-group-item"><a class="nav-item nav-link" href="{{ url_for('hopper') }}">Upload a hoper file</a></li>
                <li class="list-group-item"><a class="nav-item nav-link" href="{{ url_for('branchmaster') }}">Add Data to Branch master table</a></li>
                <li class="list-group-item"><a class="nav-item nav-link" href="{{ url_for('citmaster') }}">Add Data to CIT master table</a></li>
                <li class="list-group-item"><a class="nav-item nav-link" href="{{ url_for('bankmaster') }}">Add Data to Bank master table</a></li>
                <li class="list-group-item"><a class="nav-item nav-link" href="{{ url_for('mftmaster') }}">Add Data to MFT master table</a></li>
              </ul>

        </div>
    </fieldset>
</div>

{% endblock content %}
