{% extends "layout.html" %}

{% block content %}
    <h1>Upload Hopper file.</h1>
    <hr>
    <form action="/hopper" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label>Select image</label>
            <div class="custom-file">
              <input type="file" class="custom-file-input" name="hopper_file" id="hopper_file">
              <label class="custom-file-label" for="image">Select image...</label>
            </div>
          </div>
        <button type="submit" class="btn btn-primary">Upload file</button>
    
    </form>
{% endblock content %}